.wrapper {
  display: flex;
  flex: 0 0 28%;
  justify-content: flex-start;
}

.ul {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  justify-content: space-around;
}

.li {
  margin-top: 20px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
  cursor: pointer;
}

.li::marker {
  content: url(../../../assets/pin.svg);
}
