.card {
  max-width: 395px;
  min-width: 380px;
  margin-bottom: 30px;
}

.imgWrapper {
  margin: 0;
  width: 100%;
  height: 250px;
}

.image {
  border-radius: 24px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.infoWrapper {
  margin-top: 3px;
}

.superHost {
  margin-right: 11px;
  display: inline-block;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  /*   width: fit-content; */
}

.superHostText {
  padding: 7px 10px 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.rating {
  position: relative;
  float: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}

.rating::before{
  content: url(../../../../assets/star.svg);
  position: absolute;
  top: -1px;
  right: 32px;
}

.title {
  margin-top: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
