.main {
  flex: 1 0 auto;
}

.staysWrapper {
  margin-top: 15px;
  font-family: "Montserrat";
}

.staysInFinland {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--neutral-1);
}

.staysCount {
  float: right;
  padding-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--neutral-2);
}
