.header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}

.inputForm {
  display: flex;
  max-width: 297px;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.inputCity {
  height: 100%;
  border: none;
  border-right: 1px solid #f2f2f2;
  max-width: 138px;
  text-align: center;
  outline: transparent;
}

.inputGuests {
  height: 100%;
  border: none;
  border-right: 1px solid #f2f2f2;
  max-width: 106px;
  text-align: center;
  outline: transparent;
}

.inputGuests::placeholder {
  color: #bdbdbd;
}

.inputButton {
  position: relative;
  min-width: 30px;
  max-width: 53px;
  background-color: #fff;
  outline: transparent;
  border: none;
  cursor: pointer;
}

.inputButton::before {
  content: url(../../assets/search-orange.svg);
  position: absolute;
  top: 19px;
  left: 7px;
}

.inputButton:active {
  transform: translate(1px, 1px);
}
