.footer {
  flex: 0 0 auto;
  padding-bottom: 12px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--neutral-4);
}

.text {
  font-weight: 500;
}

.link {
  font-weight: 700;
}

.link:visited {
  color: var(--neutral-4);
}
